<div class="container ">
<table class="table table-striped mt-5">
  <thead>
  <th class="collum" *ngFor="let collumn of headers">{{collumn}}</th>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
        <td *ngFor="let collumn of headers">
          <a [routerLink]="['detail',user.ID]">
            {{user [collumn]}}
          </a>
        </td>
      </tr>
  </tbody>
</table>
</div>
