<div class="container">
<div >
  <div *ngFor="let user of users"  class="card mt-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{user.nom}}-{{user.prenom}}</h5>
      <p class="card-text">{{user.adresse}}</p>
      <p>{{user.email}}</p>
      <p>{{user.tel}}</p>

    </div>
  </div>
</div>
</div>
